In [1]:
import os
#import pandas as pd
import cudf as pd
from pycaret.regression import *

In [2]:
root="/amex/"
headers=pd.read_csv(root+"headers.csv")
headers = headers.columns
labels =pd.read_csv(root+"train_labels.csv")

In [3]:
#!split -l 75000 train_data.csv

In [4]:
trains = []
for r, d, f in os.walk(root):
    for file in f:
#        if "traina" in file or "trainb" in file:
        if "xa" in file or "xb" in file or "xc" in file:
            trains.append(os.path.join(root, file))

In [12]:
def buildModel(train, model):
    s = setup(data=train, target='target', fold_strategy='timeseries', fold=3, use_gpu=True, silent = True, session_id = 123,
             #imputation_type='iterative', #ignore_low_variance=True, combine_rare_levels=True, 
              profile=True)
    best = compare_models(include = ['ridge']) #, 'par', 'lightgbm', 'catboost', 'gbr'])
#    evaluate_model(best)
#    predict_model(best)
    save_model(best, "./models"+model)

In [13]:
traindfs = []
#for i in range(len(trains)):
for i in range(2):
    print(trains[i])
#    traindfs.append(pd.read_csv(trains[i], names=headers, header=None))
#    traindfs[i] = traindfs[i].merge(labels, on="customer_ID", how="inner")
    traindf = pd.read_csv(trains[i], names=headers, header=None)
    traindf = traindf.merge(labels, on="customer_ID", how="inner")
    buildModel(traindf, trains[i])

Transformation Pipeline and Model Successfully Saved
/amex/xaa.pkl

ValueError: data passed must be a positive dataframe

In [ ]:
traindfs

In [8]:
# We want to forecast the next 12 months of data and we will use 3 fold cross-validation to test the models.
fh = 12 # or alternately fh = np.arange(1,13)
fold = 3

# Global Plot Settings
fig_kwargs={'renderer': 'notebook'}

#traindfs[0]['S_2'] = pd.to_datetime(traindfs[0]['S_2'])

In [13]:
s = setup(data=traindfs[0], target='target', fold_strategy='timeseries', fold=3, use_gpu=True, silent = True, session_id = 123
         imputation_type='iterative', ignore_low_variance=True, combine_rare_levels=True, profile=True)

In [18]:
#best = compare_models(exclude=['br', 'huber', 'rf'])
best = compare_models(include = ['ridge']) #, 'par', 'lightgbm', 'catboost', 'gbr'])

In [21]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [22]:
predict_model(best)

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,S_2_weekday_1,S_2_weekday_2,S_2_weekday_3,S_2_weekday_4,S_2_weekday_5,S_2_weekday_6,S_2_is_month_end_0,S_2_is_month_start_1,target,Label
0,0.292870,0.002571,0.481739,0.028609,0.506584,0.791665,0.001446,0.909459,0.187098,0.214937,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,1.004786
1,0.438140,0.039369,0.375261,0.051311,0.007310,0.174045,0.003005,0.270486,0.187098,0.113511,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0,0.057970
2,0.957984,0.008340,0.003732,0.812616,0.003407,0.226925,0.007176,0.004433,0.187098,0.159064,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,-0.006099
3,0.875097,0.149636,0.041135,0.811251,0.000641,0.218277,0.000359,0.001772,0.187098,0.003205,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.022180
4,0.620423,0.097077,0.025296,0.995215,0.005183,0.082530,0.003021,0.009221,0.187098,0.159064,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,-0.024011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22495,0.641255,0.360124,0.318120,0.067786,0.006627,0.134075,0.003285,0.123486,0.187098,0.479348,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0,0.043366
22496,0.907583,0.500975,0.036166,0.816914,0.001494,0.188445,0.000038,0.032093,0.187098,0.211566,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,-0.003890
22497,0.680857,0.091885,0.050374,1.000995,0.008681,0.162075,0.006931,0.005381,0.187098,0.014406,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0,0.000680
22498,0.285292,0.001792,0.088664,0.043245,0.001199,0.172887,0.003159,0.338048,0.165365,0.248873,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.980079
22499,0.845985,0.002350,0.003389,0.810431,0.000730,0.166838,0.003411,0.004606,0.187098,0.102591,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0,-0.012093

In [26]:
predictions = predict_model(best, data=traindfs[1])
predictions.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target,Label
0,037cea5c0508b79b9637cc9d0cb91988d323bbec368bda...,2017-12-04,0.942206,0.301005,0.038435,1.007025,0.005642,0.074186,0.008094,0.005511,...,NaN,0.005436,0.008240,0.002998,NaN,0.009035,0.003900,0.001070,0,-0.024097
1,037cea5c0508b79b9637cc9d0cb91988d323bbec368bda...,2018-01-07,0.986130,0.389640,0.049980,1.004085,0.507260,0.121465,0.001576,0.007365,...,NaN,0.008620,0.008015,0.006814,NaN,0.007976,0.004586,0.004483,0,0.036538
2,037cea5c0508b79b9637cc9d0cb91988d323bbec368bda...,2018-02-07,0.986970,0.388427,0.044156,1.004327,0.504611,0.133627,0.000576,0.005378,...,NaN,0.007256,0.003227,0.006095,NaN,0.003406,0.002024,0.003707,0,0.037514
3,037cea5c0508b79b9637cc9d0cb91988d323bbec368bda...,2018-03-09,0.920574,0.450025,0.014511,1.004386,0.008351,0.164337,0.002923,0.003632,...,NaN,0.003312,0.006247,0.005584,NaN,0.006767,0.004290,0.005040,0,-0.019022
4,037cead43db106cda65d9d0ebb45899e23e72cf009390c...,2017-03-12,0.572051,0.003568,0.094618,0.159672,0.002783,0.296780,0.009476,0.072129,...,NaN,0.004842,0.002647,0.004416,NaN,0.000014,0.009226,0.006406,0,0.443201

In [ ]:
predictions[predictions['target']==1].head(10)

In [30]:
save_model(best, trains[0])

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='target',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='target')),
                 ('fix_perfect', Remove_100(target='target')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model', Ridge()]],
          verbose=False),
 '/amex/xaa.pkl')